.bg-black{
	background-color: black;
}
.font-div{
	width: 30%;
}
img{
	width: 100%;
	height: 100%;
}
.btn{
	text-decoration-color: white;
}
.pf{
	width: 100%;
	height: 60%;
}
.pf1{
	width: 100%;
	height: 70%;
}